.product-card {
  position: relative;
  word-wrap: break-word;
  width: 250px;
  height: 400px;
  margin: auto;
  border: none;
	cursor: pointer;
	transform: scale(1);
	transition: transform .5s ease;
	color: #324d67;
  background-color: #f5f5f5;
}

.product-card:hover {
	transform: scale(1.1);
}

.product-image {
  position: relative;
  width: 250px;
  height: 300px;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  color: #ff7d7d;
  right: 10px;
  top: 10px; 
  text-transform: capitalize;
}

.product-image img {
  width: 250px;
  height: 100%;
  border-radius: 2rem;
}

.product-short-desc {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}
