* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  .mynavbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9;
  }
  
  .mynav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
  }
  
  .mybrand-logo {
    height: 80px;
    width: 300px;
  }
  
  .mynav-items {
    display: flex;
    align-items: center;
  }
  
  .mysearch {
    display: flex;
    width: 500px;
  }
  
  .mysearch-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    outline: none;
    color: #a9a9a9;
  }
  
  .mysearch-box::placeholder {
    color: #a9a9a9;
  }
  
  .mysearch-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #00ACEE;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .mynav-items a {
    margin-left: 20px;
  }
  
  .mynav-items a i {
    color: #383838;
    font-size: 36px;
  }
  
  .mylinks-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
  }
  
  .mylink {
    text-transform: capitalize;
    font-size: 18px;
    padding: 0px 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: #0295cff8;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .mylink:hover {
    opacity: 1;
  }
  