.star-rating {
  height: 46px;
  padding: 1px 10px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.star-rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.star-rating:not(:checked) > label {
    width: lem;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.star-rating:not(:checked) > label:before {
    content:  '★ ';
}
.star-rating > input:checked ~ label {
    color: #00ACEE;    
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: #00ACEE;  
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
    color: #00ACEE;
}